version: '3.8'

services:
  web:
    build: .
    expose:
      - "5000"
    volumes:
      - ./qr_codes:/app/qr_codes
      - ./data:/app/data
    restart: unless-stopped
    container_name: minor-project
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/ssl
    depends_on:
      - web
    restart: unless-stopped
    container_name: nginx-proxy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge